streamlit
streamlit_folium
os
shutil
rasterio
rasterio.mask
numpy
PIL
sklearn.model_selection
tqdm
geopandas
json
pandas
requests
shapely
matplotlib.pyplot
zipfile
shapely.geometry 
rasterio.errors
urllib.parse
fiona
uuid
yaml
ultralytics
IPython.display
rasterio.features
shapely.ops
matplotlib.patches
