apiVersion: batch/v1
kind: Job
metadata:
  name: sar-download-job
spec:
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: Never
      containers:
      - name: sar-download
        image: ghcr.io/emcuttle/sar-damage:latest
        imagePullPolicy: Always
        command: ["python", "src/download_data.py"]
        volumeMounts:
        - name: project-pvc
          mountPath: /data
        resources:
          requests:
            cpu: "1"
            memory: "2Gi"
          limits:
            cpu: "1.2"
            memory: "2Gi"
      volumes:
      - name: project-pvc
        persistentVolumeClaim:
          claimName: ecc7r-pv
