apiVersion: batch/v1
kind: Job
metadata:
  name: sar-preprocess-job
spec:
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: Never
      containers:
      - name: sar-preprocess
        image: ghcr.io/emcuttle/sar-damage:latest
        imagePullPolicy: Always
        command: ["python", "src/preprocess_data.py"]
        volumeMounts:
        - name: project-pvc
          mountPath: /data
        resources:
          requests:
            cpu: "2"
            memory: "8Gi"
          limits:
            cpu: "4"
            memory: "16Gi"
      volumes:
      - name: project-pvc
        persistentVolumeClaim:
          claimName: ecc7r-pv
