apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ecc7r-pv
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi             
  storageClassName: standard
